.box{
    
    
    margin-top:40px;
    margin-left: 40%;
    margin-right: 60%;
    border-color: black;
    border-style: solid;
    text-align: center;
    width:240px;
    height:290px;
    background-color: #3586ff;

    
    
}

